.additional-options {
    font-size: 14px;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 100px; /* Space between grid items */
    margin-top: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
  }
  
  /* Optional: Add margin to the labels for extra spacing */
  label {
    margin-bottom: 10px;
  }
  