.additional-options {
    font-size: 14px;
  }

  .optional-note {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .optional-note em {
    font-style: italic;
  }
    
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 30px; /* Space between grid items */
    margin-top: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
  }

  