.app {
  font-family: Arial, sans-serif;
  color: #333;
  position: relative;
}

.app-header {
  background-color: #ccc;
  padding: 10px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-section {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

button {
  margin: 5px;
  padding: 5px 10px;
}

.poster-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  overflow: visible;
}

.poster-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.poster-display img {
  max-width: 100%;  
  max-height: 100vh;  
  object-fit: contain; 
}


.navigation {
  margin-top: 10px;
}

.navigation button {
  padding: 5px 10px;
  margin: 0 5px;
}

.progress-bar-container {
  width: 100%;
  height: 20px; /* Adjusted for better visuals */
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.2s ease; /* Smooth transition for bar updates */
}

.progress-text {
  position: absolute;
  top: 50%;
  left: calc(var(--progress) - 20px); /* Dynamic alignment with bar */
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  width: max-content; /* Prevent text clipping */
}

.loading-movies {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #333;
  height: 100px; /* Adjust as needed */
  overflow-y: auto;
}

.loading-movies li {
  margin-bottom: 5px;
}
